* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-width: 100%;
    min-height: 100%;
    font-family: 'Open Sans', sans-serif;
}

:root {
    --imageSize: 4rem;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Cantarell', sans-serif;
    font-weight: normal;
    width: 100%;
}

h1 {
    font-size: 2.5rem;
}

h2 {
    font-size: 2rem;
}

h3 {
    font-size: 1.7rem;
}

section {
    margin: auto;
    width: 70%;
}

.cardContainer {
    width: 100%;
    padding: 0 20%;
}

.card {
    width: 100%;
    margin: 0.2em 0;
}

.centered {
    text-align: center;
}

.card img {
    float: left;
    height: var(--imageSize);
}

.card .cardStroke {
    float: left;
    background-color: #888888;
    width: 0.2rem;
    height: var(--imageSize);
    margin: 0 1em;
}

.card input {
    float: left;
    border: 0;
    width: 100%;
    height: 100%;
}
